################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hospital_Management_System/obj/Debug/net7.0/Hospital_Management_System.GeneratedMSBuildEditorConfig.editorconfig
/Hospital_Management_System/obj/Debug/net7.0/project.razor.vs.json
/.vs/HMS/v17/.suo
/.vs/HMS/FileContentIndex/3e1239c2-a316-40f5-b1f4-9eab8453cfcb.vsidx
/.vs/HMS/FileContentIndex/4fb1a9be-ecda-4a85-bcb3-c285213c60fd.vsidx
/.vs/HMS/FileContentIndex/71b13785-eab9-4268-9307-b9f396431a7b.vsidx
/.vs/HMS/FileContentIndex/8dee188f-ca47-4607-87e4-ec2d87b6a482.vsidx
/.vs/HMS/FileContentIndex/c9e4b17f-04b2-42fc-9c85-29a0257a2a0b.vsidx
/.vs/HMS/FileContentIndex/e6a2bfe0-7ad0-4e23-bb64-6375126ec521.vsidx
