<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/css/DocStyle.css">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home">
                        <span class="icon">
                            <ion-icon src='data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="red" d="M15 2.013H9V9H2v6h7v6.987h6V15h7V9h-7z"%2F%3E%3C%2Fsvg%3E'></ion-icon>
                        </span>
                        <span style="font-size: 2.5rem;" class="title">Hospital</span>
                    </a>
                </li>


                <li>
                    <a asp-controller="Patient" asp-action="DisplayAppointment">
                        <span class="icon">
                            <ion-icon name="reader-outline"></ion-icon>
                        </span>
                        <span class="title active">View your Appointments</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Patient" asp-action="CreateAppointment">
                        <span class="icon">
                            <ion-icon name="calendar-outline"></ion-icon>
                        </span>
                        <span class="title">Create New Appointment</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Patient" asp-action="DisplayMedicalRecord">
                        <span class="icon">
                            <ion-icon name="calendar-outline"></ion-icon>
                        </span>
                        <span class="title">Medical History</span>
                    </a>
                </li>



                <li style="transform: translateY(50vh);">
                    <a asp-action="Logout" asp-controller="Account">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>


                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>


            <!-- ================ Order Details List ================= -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">Welcome</div>
                        <div class="cardName">
                           @*  @{
                                // Assuming you have a ViewBag property named "DoctorName" containing the doctor's name
                                string doctorName = ViewBag.Name as string;
                                
                                    @Html.Raw(doctorName);
                                
                               
                            } *@
                        </div>
                    </div>
                </div>

                @RenderBody()
            </div>


        </div>

        <!-- =========== Scripts =========  -->
        <script src="/js/main.js"></script>

        <!-- ====== ionicons ======= -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>