@using demo.Models
@model List<MedicalRecord>
@{
    Layout = "_Patient";
    ViewData["Title"] = "display Medical Records";
}



<div class="content-section">
    <h2>Medical History</h2>

    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="content-card">
                <div class="record-details">
                    <label>Record ID:</label>
                    <span class="detail-value">@item.Id</span>
                </div>
                <div class="record-details">
                    <label>Start Date:</label>
                    <span class="detail-value">@item.StartDate.ToShortDateString()</span>
                </div>
                <div class="record-details">
                    <label>Diagnosis:</label>
                    <span class="detail-value">@item.Diagnosis</span>
                </div>
                <div class="record-details">
                    <label>Treatment:</label>
                    <span class="detail-value">@item.Treatment</span>
                </div>
            </div>
        }
    }
    else
    {
        <p>No medical records available.</p>
    }
</div>