<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--==================== UNICONS ====================-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />

    <!--==================== SWIPER CSS ====================-->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />

    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="~/css/home-style.css" />
    <link rel="stylesheet" href="~/css/sign-in-style.css" />
    <link rel="stylesheet" href="~/css/register-style.css" />

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>


    <!--==================== website-logo-And-title ====================-->
    <link rel="icon" type="image/x-icon" href="~/image/city-hospital.svg" />
    <title>SCI Hosptal</title>
</head>
<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">SCI Hosptal</a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="@Url.Action("Index", "Home")" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-user-square nav__icon"></i> About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#services" class="nav__link">
                            <i class="uil uil-file-alt nav__icon"></i> Services
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="@Url.Action("Login", "Account")" class="nav__link">
                            <i class="uil uil-briefcase-alt nav__icon"></i> Login
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="@Url.Action("Register", "Account")" class="nav__link">
                            <i class="uil uil-scenery nav__icon"></i> Register
                        </a>
                    </li>
                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                <!-- theme change button -->
                <i class="uil uil-moon change-theme" id="theme-button"></i>
                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--==================== Main ====================-->
    @RenderBody()
    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">SCI</h1>
                    <span class="footer__subtitle">
                        SCI Hospital provides progressive
                        and affordable healthcare, accessible online and online for everyone
                    </span>
                </div>

                <ul class="footer__links">
                    <li>
                        <a href="#home" class="footer__link">Home</a>
                    </li>
                    <li>
                        <a href="#services" class="footer__link">Services</a>
                    </li>
                    <li>
                        <a href="#about" class="footer__link">About</a>
                    </li>
                </ul>
                <div class="footer__socials">
                    <a href="#" target="_blank" class="footer__social">
                        <i class="uil uil-facebook-f"></i>
                    </a>
                    <a href="#" target="_blank" class="footer__social">
                        <i class="uil uil-instagram"></i>
                    </a>
                    <a href="#" target="_blank" class="footer__social">
                        <i class="uil uil-twitter-alt"></i>
                    </a>
                </div>
            </div>
            <p class="footer__copy">&#169; SCI Hospital 2023. All rights reserved.</p>
        </div>
    </footer>

    <!--==================== SCROLL TOP ====================-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="uil uil-arrow-up scrollup__icon"></i>
    </a>

    <!--==================== SWIPER JS ====================-->
    <script src="~/js/swiper-bundle.min.js"></script>

    <!--==================== MAIN JS ====================-->
    <script src="~/js/home-main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>