@{
    ViewData["Title"] = "Home Page";
}
<!--==================== HOME ====================-->
<section class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__content grid">
            <div class="home__social">
                <a href="https://www.linkedin.com/in/adelkazzaz/"
                   target="_blank"
                   class="home__social-icon">
                    <i class="uil uil-facebook-f"></i>
                </a>
                <a href="https://github.com/Adelkazzaz"
                   target="_blank"
                   class="home__social-icon">
                    <i class="uil uil-instagram"></i>
                </a>
                <a href="https://www.youtube.com"
                   target="_blank"
                   class="home__social-icon">
                    <i class="uil uil-twitter-alt"></i>
                </a>
            </div>
            <div class="home__img">
                <img src="~/image/banner-image.png" alt="banner image" />
            </div>
            <div class="home__data">
                <h1 class="home__title">Healthcare</h1>
                <h2 class="home__subtitle">
                    Follow our social media platforms for health advice.
                </h2>
                <p class="home__description">
                    SCI Hospital provides progressive and affordable healthcare,
                    accessible online and online for everyone
                </p>
            </div>
        </div>
        <div class="home__scroll">
            <a href="#about" class="home__scroll-button button--flex">
                <i class="uil uil-mouse-alt home__scroll-mouse"></i>
                <span class="home__scroll-name">Scroll Down</span>
                <i class="uil uil-arrow-down home__scroll-arrow"></i>
            </a>
        </div>
    </div>
</section>

<!--==================== ABOUT ====================-->
<section class="about section" id="about">
    <h2 class="section__title">About Us</h2>
    <span class="section__subtitle">SCi Hospital</span>

    <div class="about__container container grid">
        <img src="~/image/health-care-img.png" alt="" class="about__img" />

        <div class="about__data">
            <p class="about__description">
                Welcome to SCI Hospital , where your health is our priority.
                Our dedicated team provides compassionate and cutting-edge
                medical care, ensuring your well-being. With state-of-the-art
                technology, we offer personalized services and a warm, supportive
                environment. Trust SCI Hospital for exceptional healthcare that
                makes a positive difference in your life.
            </p>
            <div class="about__info">
                <div>
                    <span class="about__info-title">30+</span>
                    <span class="about__info-name">
                        Medical <br />
                        Staff
                    </span>
                </div>

                <div>
                    <span class="about__info-title">600+</span>
                    <span class="about__info-name">
                        Completed <br />
                        Appointment
                    </span>
                </div>
                <div>
                    <span class="about__info-title">550+</span>
                    <span class="about__info-name">
                        Successful <br />
                        Surgery
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==================== SERVICES ====================-->
<section class="services section" id="services">
    <h2 class="section__title">Services</h2>
    <span class="section__subtitle">What i offer</span>

    <div class="services__container container grid">
        <!--==================== SERVICES 1 ====================-->
        <div class="services__content">
            <div>
                <img src="~/image/service-icon-3.png" alt="">
                <h3 class="services__title">
                    Consultation
                </h3>
            </div>
        </div>
        <!--==================== SERVICES 2 ====================-->
        <div class="services__content">
            <div>
                <img src="~/image/service-icon-4.png" alt="">
                <h3 class="services__title">
                    Tracking
                </h3>
            </div>
        </div>
        <!--==================== SERVICES 3 ====================-->
        <div class="services__content">
            <div>
                <img src="~/image/service-icon-6.png" alt="">
                <h3 class="services__title">
                    Details info
                </h3>
            </div>
        </div>
    </div>

</section>

<!--==================== ABOUT ====================-->
<section class="about section" id="sub_about">
    <div class="about__container container grid">
        <img src="~/image/download-image.png" alt="" class="about__img" />

        <div class="about__data">
            <p class="about__description">
                We provide you the best choices for you. Adjust it to your
                health needs and make sure you undergo treatment with our
                highly qualified doctors you can consult with us which type
                of service is suitable for your health
            </p>
        </div>
    </div>
</section>