@using demo.Models
@model MedicalRecord
@{
    Layout = "_Doctor";
    ViewData["Title"] = "Add Medical Records";
}


<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Add New Medical Record</h2>
        </div>

        <form asp-controller="Doctor" asp-action="AddMedicalRecord" class="form-section" method="post">
        <h1>Enter Record Details</h1>


            <label asp-for="Patient_id">Patient ID:</label>
            <input asp-for="Patient_id" required>
            <span asp-validation-for="Patient_id" class="text-danger"></span>

            <label asp-for="Diagnosis">Diagnosis:</label>
            <input asp-for="Diagnosis" >
            <span asp-validation-for="Diagnosis" class="text-danger"></span>

            <label asp-for="Treatment">Treatment:</label>
            <input asp-for="Treatment"  >
            <span asp-validation-for="Treatment" class="text-danger"></span>

            <label asp-for="StartDate">Start Date:</label>
            <input asp-for="StartDate" type="date">
            <span asp-validation-for="StartDate" class="text-danger"></span>

            <label asp-for="Doctor_id">Doctor ID:</label>
            <input asp-for="Doctor_id" required>

        <button type="submit" >Submit</button>
    </form>
</div>
</div>