@using demo.Models
@model Appointment
@{
	Layout = "_Doctor";
}


    
<div class="details">
    <div class="recentOrders">
            <div class="cardHeader">
                <h2>Creat New Appointment</h2>
            </div>

        <form class="form-section" asp-controller="Doctor" asp-action="CreateAppointment" method="post">
            <h1>Enter Appointment Details</h1>

            <label asp-for="Patient_id">Patient ID:</label>
            <input asp-for="Patient_id" required>


            <label asp-for="Date">Appointment Date:</label>
            <input asp-for="Date" required>

            <label asp-for="Status">Status:</label>
            <select asp-for="Status" required>
                <option value="Scheduled">Scheduled</option>
                <option value="Confirmed">Confirmed</option>
                <option value="Canceled">Canceled</option>
            </select>

            <label asp-for="Doctor_id">Doctor ID:</label>
            <input asp-for="Doctor_id" required>

            <button type="submit">Submit</button>
        </form>

    </div>
</div>