@using Hospital_Management_System.ViewModel;
@model List<StaffVM>
@{
	Layout = "_ALayout";
}
 

	<link rel="stylesheet" href="/css/style.css" />
	<div class="table-data">
		<div class="order">
			<div class="head">
				<h3>Doctors</h3>

				<a class="btn btn-primary m-2" asp-action="AddDoctor">Add Doctor</a>
			</div>
			<table>
				<thead>
					<tr>
						<th>Doctor Full Name</th>
						<th>Department</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var doctor in Model)
					{
						<tr>
							<td>
								<img src="https://cdn-icons-png.flaticon.com/512/3774/3774293.png">
								<p>@doctor.Name</p>
							</td>
							<td>@doctor.DeptName</td>
							<td><a asp-action="DoctorDetails" asp-controller="DoctorsManagment" asp-route-id="@doctor.Id" class="btn btn-info">Details</a> </td>
							<td><a asp-action="EditDoctor" asp-controller="DoctorsManagment" asp-route-id="@doctor.Id" class="btn btn-primary" >Edit</a> </td>

						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
